<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Contáctanos - U La Salle</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <div class="container">
    <h1>Formulario de Contacto</h1>
    <form action="/contact" method="post">
      <div class="input-group">
        <label for="nombre">Nombre:</label>
        <input type="text" name="nombre" placeholder="Escribe tu nombre" required minlength="2" maxlength="50">

        <label for="telefono">Teléfono:</label>
        <input type="tel" name="telefono" placeholder="Tu número" required pattern="[0-9]{10}" title="Debe tener 10 dígitos numéricos">



        <label for="email">Correo:</label>
        <input type="email" name="email" placeholder="ejemplo@email.com" required>

        
        <label for="asunto">Asunto:</label>
        <input type="text" name="asunto" placeholder="¿Sobre qué trata tu mensaje?" required minlength="5" maxlength="100">

        
    

        <label for="mensaje">Mensaje:</label>
        <textarea name="mensaje" placeholder="Escribe tu mensaje..." required minlength="10" maxlength="500"></textarea>


        <button type="submit" class="btn">Enviar</button>
      </div>
    </form>
  </div>
</body>
</html>
